.grid-container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px;
    text-align: center;
}
 .header{
    background-color: rgba(16, 0, 241, 0.43);
     grid-column: 1 / 4;
 }
 .left-sidebar{
    background-color: rgba(241, 0, 0, 0.43);
 }
 .main-content{
    background-color: rgba(84, 0, 241, 0.308);
 }
 .right-sidebar{
    background-color: rgba(138, 30, 57, 0.37);
 }  
 .footer{
    background-color: rgba(0, 241, 0, 0.43);
     grid-column: 1 / 4;
 }